*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f7f9;
      
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 45px;
    background: linear-gradient(135deg, #010828, #011129);
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f0f4f5;
    font-size: 22px;
    font-weight: 600;
}

.logo i{
    font-size: 26px;
}

/* Menu */
.menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    position: relative;
    transition: 0.3s;
}

.menu li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    background-color: #6fa8ff;
    transition: 0.3s;
}

.menu li a:hover{
    color: #2704ec;
}

.menu li a:hover::after{
    width: 100%;
}

/* Social Icons */
.social-icons{
    display: flex;
    gap: 18px;
}

.social-icons a{
    color: #f6f5f5;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover{
    transform: translateY(-3px) scale(1.15);


/* Brand Colors */
.social-icons a:nth-child(1):hover{ color:#f9f0f3; } /* Instagram */
.social-icons a:nth-child(2):hover{ color:#eceef0; } /* Facebook */
.social-icons a:nth-child(3):hover{ color:#f8fbf9; } /* WhatsApp */
.social-icons a:nth-child(4):hover{ color:#f5f0f2; } /* WhatsApp */


}

/*Hero section*/
/* Hero Section */


.typing{
    font-size: 28px;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 8s steps(30) infinite;
}

.typing span::before{
    color: rgb(2, 2, 106);
    content: "I am Frontend Developer";
    animation: changeText 8s infinite;
}
@keyframes typing{
    0%{width: 0}
      20%{width: 27ch}
        400%{width: 27ch}
        50%{width: 0;}
        60%{width: 0;}
        80%{width: 26ch;}
        100%{width: 26ch;}


}

@keyframes changeText {
  0%,50% {
    content: "I am Frontend Developer";
  }
  51%,100% {
    content: "I am Backend Developer";
  }
}

.line{
    width: 0;
    overflow:hidden;
    white-space: nowrap;
}


.one{
    animation: typing 2s steps(22) forwards ;
}
.two{
    animation: typing 2s steps(21) forwards;
    animation-delay: 2s;
}



.hero-container{
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.profile-outer{
    height: 500px;
    width: 40%;
    display: flex;
    align-items: center;
     transition: .3s ease-in-out;
    justify-content: center;
}
.profile{
    height:400px;
    width: 400px;
    border-radius: 50%;
}
.profile img{
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 10px rgb(11, 11, 12);
   
    border-radius: 50%;
}

.profile :hover{

    
    transform: translateY(-6px);
}
.info-outer{
    height: 500px;
    width: 50%;
    color: rgb(11, 9, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-outer h1{
    font-size: 3rem;
}
.info-outer p{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: center;
}



/* about */

#about h1{
    color:rgb(8, 7, 7);
    text-align: center;
    font-size: 3rem;
}

#about hr{
    height: 5px;
    width: 60%;
    background-color: rgb(10, 10, 11);
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.about-text{
    margin: 30px auto;
    width: 80%;
    color: rgb(12, 11, 11);
    text-align: justify;
}

.about-text p{
    margin-top:15px ;
    font-size: 18px;
}

.about-text span{
    font-weight: bold;
    color:rgba(2, 2, 143, 0.975);
}


.about-text ul{
    color: rgb(15, 13, 13);
    font-weight: bold;
    display: flex;
    gap: 30px;
    margin-left: 20px;
    font-size: 1.1rem;
}
/* Skills */

.skills h1{
    color:rgb(12, 11, 11);
    text-align: center;
    font-size: 3rem;
}

.skills hr{
    height: 5px;
    width: 60%;
    background-color:rgb(10, 10, 10);
    margin: 0 auto;
    border-radius: 10px ;
    border: none;
}
.skill-outer{
    width: 70%;
    margin: 0 auto;
 /*   background-color: aqua;*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
.skill-box{
    height: 210px;
  
   background: linear-gradient(45deg,rgb(252, 250, 250),rgb(249, 249, 252));
   border-radius: 25px ;
   display: flex;
   border: 1px   solid rgb(4, 4, 71);
   align-items: center;
   justify-content: center;
   transition: .7s ease-in-out;
   box-shadow: 10px 10px 10px 5px rgb(10, 10, 10);

}


.skill-box h4{
    position: relative;
    top: -70px;
    left: 140px;
}
.skill-box img{
    height: 70%;
    width: 70%;
    object-fit: contain;
}

.skill-box:hover{

    transform: translateY(-8px);
}

.container{
    
    width: 70%;
    margin: 0 auto;
 /*   background-color: aqua;*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 20px;
}

.min-box{
    height: 510px;
  
   background: linear-gradient(45deg,rgb(252, 250, 250),rgb(249, 249, 252));
   border-radius: 25px ;
   display: flex;
   border: 1px   solid rgb(4, 4, 71);
   align-items: center;
   justify-content: center;
   transition: .7s ease-in-out;
   box-shadow: 10px 10px 10px 5px rgb(10, 10, 10);

}

.min-box h1{
    position: relative;
    top: -160px;
    left: 170px;
}
.min-box:hover{

    transform: translateY(-8px);
}


/* contact box*/ 

form{
    margin-top: 20px;
}

form label{
    display: block;
    margin: 5px 0 5px;
}

form input,
form textarea{
    width: 100%;
    padding: 12px;
    background-color: #333;
    border: none;
    color: #fff;
    margin-bottom: 15px;
}

form button{
    padding: 12px 20px;
    border: none;
    background-color: #020849;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover{
    background-color: #12038a;
}

/* footer section*/
.footerbox{
    height: 80px;
    width: 100%;
    border: 1px solid;
    background-color: #0b0338;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footerbox p{
    
    color: white;

}
